vp001.dat filter=lfs diff=lfs merge=lfs -text
vp006.dat filter=lfs diff=lfs merge=lfs -text
vp007.dat filter=lfs diff=lfs merge=lfs -text
vp008.dat filter=lfs diff=lfs merge=lfs -text
vp016.dat filter=lfs diff=lfs merge=lfs -text
vp021.dat filter=lfs diff=lfs merge=lfs -text
vp024.dat filter=lfs diff=lfs merge=lfs -text
vp002.dat filter=lfs diff=lfs merge=lfs -text
vp013.dat filter=lfs diff=lfs merge=lfs -text
vp014.dat filter=lfs diff=lfs merge=lfs -text
vp003.dat filter=lfs diff=lfs merge=lfs -text
vp004.dat filter=lfs diff=lfs merge=lfs -text
vp009.dat filter=lfs diff=lfs merge=lfs -text
vp017.dat filter=lfs diff=lfs merge=lfs -text
vp018.dat filter=lfs diff=lfs merge=lfs -text
vp020.dat filter=lfs diff=lfs merge=lfs -text
vp023.dat filter=lfs diff=lfs merge=lfs -text
vp005.dat filter=lfs diff=lfs merge=lfs -text
vp010.dat filter=lfs diff=lfs merge=lfs -text
vp011.dat filter=lfs diff=lfs merge=lfs -text
vp012.dat filter=lfs diff=lfs merge=lfs -text
vp015.dat filter=lfs diff=lfs merge=lfs -text
vp019.dat filter=lfs diff=lfs merge=lfs -text
vp022.dat filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
